<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-dashboard' ></i>
        <span class="logo_name">Dashboard</span>
    </div>
    <ul class="nav-links">
        <li>
            <a (click)="go(0,'/dashbord/')" [ngClass]="{'active':listNav[0]}" >
                <!-- <i class='bx bx-grid-alt'></i> -->
                <i class='bx bxs-user'></i>
                <span class="links_name">Users</span>
            </a>
        </li>

        <li>
            <a routerLink="/">
                <i class='bx bxs-home' ></i>
                <span class="links_name">Acceuil</span>
                
            </a>
        </li>
        <li>
            <a (click)="logout()">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Deconnexion</span>
            </a>
        </li>
    </ul>
</div>

    <router-outlet></router-outlet>


